<div class="container mt-5">
  <h1> Write Your Comment Here!</h1>
<div class="card">
    <div class="card-body">
     <table>
      <tr>
        <th>PostId :</th>
        <td>hjkj</td>   
      </tr>
      <tr>
        <th>Title	&nbsp;&nbsp; :</th>       
      </tr>
      <tr>hhfjgfhkgh</tr>
      <tr>
        <th>Comment :</th>        
      </tr>
      <tr>
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </tr>
     </table>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="/createcomment"><p>Update Your Comment Here!</p></a>     
    </div>
  </div>
</div>    