<!-- <div class="container mt-5">
  <h1> Write Your Comment Here!</h1>
<div class="card">
    <div class="card-body">
     <table>
      <tr>
        <th>PostId :</th>
        <td>hjkj</td>   
      </tr>
      <tr>
        <th>Title	&nbsp;&nbsp; :</th>       
      </tr>
      <tr>hhfjgfhkgh</tr>
      <tr>
        <th>Comment :</th>        
      </tr>
      <tr>
        Some quick example text to build on the card title and make up the bulk of the card's content.
      </tr>
     </table>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="/createcomment"><p>Update Your Comment Here!</p></a> -->
      <!-- <a routerLink="/comment"><button type="submit" class="btn btn-primary btn-block mb-3">Create</button></a><p>Create Your Comment Here!</p>  
    </div>
  </div>
</div>     -->


<div class="container mt-5 pt-2" style="width:50%">
    <h2> Write Your Comment Here!</h2>
    <form class=" border p-5">
        <!-- UserId input -->
        <div class="form-outline mb-4">
          <input type="number" id="PostId" class="form-control" style="appearance: none;"/>
          <label class="form-label" for="PostId">PostId</label>
          <input type="Text" id="title" class="form-control" style="appearance: none;"/>
          <label class="form-label" for="title">Title</label>
          <textarea class="form-control" id="form4Example3" rows="4"></textarea>
          <label class="form-label" for="form4Example3">Message</label>
        </div>
        
         <!-- Submit button -->
        <a routerLink="/comment"><button type="submit" class="btn btn-primary btn-block mb-3">submit</button></a>&nbsp;
        <a routerLink="/createcomment"><button type="submit" class="btn btn-primary btn-block mb-3">Edit</button></a>   
      </form>
    </div>

